/* Fonts */

@font-face {
  font-family: 'Fixedsys Excelsior 300';
  src: url('../fonts/FSEX300.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('../fonts/FSEX300.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'Proggy Small';
  src: url('../fonts/ProggySmall.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('../fonts/ProggySmall.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

/* Common */

html {
  text-align: center;
  overflow-y: scroll;
  color:aliceblue;
  font-family: 'Proggy Small';
  font-weight: bold;
  font-size: 20px;
  line-height: 1.1rem;
  position: relative;
  min-height: 100%;
}

body {
  background-color: rgb(98.5, 98.5, 98.5);
  margin: 0px;
  padding: 25px;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding-top: 30px;
}

.content {
  margin: 20px 20%;
  color:aliceblue;
  font-family: 'Proggy Small';
  font-weight: bold;
  flex: 1;
}

.introduction {
  margin: 0% 15% 0%;
}

footer {
  padding: 30px 0;
  background-color: rgb(42, 42, 42);
  border-top: 5px rgba(10,101,120,255) solid;
}

.social-icon {
  font-size: 0.8rem;
  color: rgba(10,101,120,255);
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: 'Proggy Small';
  font-weight: bold;
  color:aliceblue;
  text-shadow: 2px 2px 3px lightgrey;
}

.remove {
  display: none;
}

.invisible {
  visibility: hidden;
}

/* Navigation */

.logo {
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

.banner-menu li{
  display: inline;
}

.nobull {
  list-style-type: none;
}

.banner-menu {
  margin: 0px;
}

.banner-links {
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-links a {
  font-family: 'Proggy Small';
  font-size: 32px;
  color: black;
}

.banner-links-text {
  padding: 5px;
  background: linear-gradient(150deg, darkgrey 41%, white);
  border: 2px rgba(10,101,120,255) solid;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 2px rgb(54, 54, 54);
}

.banner-links img {
  box-shadow: 1px 1px 2px 2px rgb(54, 54, 54);
  border: 2px rgba(10,101,120,255) solid;
}

.banner-links img:hover {
  box-shadow: none;
}

.banner-links-text:hover {
  box-shadow: none;
  background-color: cornflowerblue;
}

.banner-links li {
  vertical-align: middle;
  margin: 0 10px 0;
}


/* Border */

.border-img {
  position: absolute;
  z-index: 2;
}

.corner {
  height: 75px;
  width: auto;
  z-index: 3;
}

.sides {
  width: 50px;
  height: 100%;
}

.top, .bottom {
  height: 50px;
  width: 100%;
}

.bottomleft {
  left: 0px;
  bottom: 0px;
}

.bottomright {
  bottom: 0px;
  right: 0px;
}

.topleft {
  top: 0px;
  left: 0px;
}

.topright {
  top: 0px;
  right: 0px;
}

.leftside {
  left: 0px;
  top: 0px;
}

.rightside {
  right: 0px;
  top: 0px;
}

.top {
  top: 0px;
  left: 0px;
}

.bottom {
  bottom: 0px;
  left: 0px;
}

/* Banner */

video {
  height: 100%;
  width: 100%;
}

.banner-container-border {
  width: 100%;
  background-color: rgb(42, 42, 42);
  border: 5px rgba(10,101,120,255) solid;
}

.banner-container {
  margin: 0px 20% 0;
  padding: 50px;
  position: relative;
}

.banner {
  border: 5px rgba(10,101,120,255) solid;
}



.banner {
  width: 100%;
  z-index: 1;
}

/* Footer Links */

.listgroups {
  position: relative;
  display: inline-block;
}

.listgroups ul {
  text-align: left;
}

.listgroups a {
  font-family: 'Proggy Small';
  font-size: 24px;
  color: black;
  background: linear-gradient(150deg, darkgrey 41%, white);
  padding: 8px;
  margin: 8px;
  line-height: 1.8em;
  border-radius: 8px;
  border: 2px rgba(10,101,120,255) solid;
}

.listgroups a:hover {
  background: linear-gradient(150deg, rgb(71, 142, 169) 41%, rgb(143, 161, 169));
}

.contact-btn {
  font-family: 'Proggy Small';
  font-size: 24px;
  color: black;
  background: linear-gradient(150deg, darkgrey 41%, white);
  padding: 1px 6px 2px;
  margin: 4px 4px 4px 6px;
  line-height: 1.2em;
  border-radius: 8px;
  border: 2px rgba(10,101,120,255) solid;
}

.contact-btn:hover {
  background: linear-gradient(150deg, rgb(71, 142, 169) 41%, rgb(143, 161, 169));
}

/* Contact Alert */

.blur {
  filter:blur(2px);
}

.alert-container {
  width: 98%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
}

.alert {
  position: fixed;
  width: 40%;
  height: 525px;
  padding: 0;
  background-color: rgb(98.5, 98.5, 98.5);
  top: 10%;
  left: 30%;
  border: 4px solid rgba(10,101,120,255);
  border-radius: 12px;
  font-family: 'Proggy Small';
  font-size: 24px;
  color:aliceblue;
  line-height: 1.15em;
}

.alert-banner {
  width: 100%;
  height: 7%;
  margin: 0;
  background-color: rgb(42, 42, 42);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.alert-content {
  text-align: center;
  padding: 4% 7%;
}

.alert-btn {
  font-family: 'Proggy Small';
  font-size: 24px;
  color:black;
  background: linear-gradient(150deg, darkgrey 41%, white);
  padding: 6px 12px;
  margin: 0;
  line-height: 1em;
  border-radius: 8px;
  border: 2px rgba(10,101,120,255) solid;
}

.alert-btn:hover {
  background: linear-gradient(150deg, rgb(71, 142, 169) 41%, rgb(143, 161, 169));
}

.contact-form {
  padding: 2% 10%;
  text-align: left;
}

#contact-message {
  resize: none;
}

/* Index Page */



/* AI Office Escape Page */

.game-images-container {
  min-height: 1000px;
  padding: 7% 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 30px;
}

.game-images {
  min-height: 820px;
  display: flex;
  align-items: center;
}

.game-image {
  height: auto;
  width: auto;
}

.carousel-ctrlbtn-left {
  margin-left: -150px;
}

.carousel-ctrlbtn-right {
  margin-right: -150px;
}

.characters {
  margin-top: 30px;
}

.char {
  display: flex;
  margin: 35px auto;
}

.char-pic {
  height: 150px;
  width: auto;
  margin: 20% 0;
}

.char-bio {
  text-align: left;
  font-family: 'Proggy Small';
}

.char-bio h3 {
  text-shadow: none;
}

.char-bio p {
  font-size: 18px;
}

/* About Page */

.profile-pic {
  height: 200px;
  width: 200px;
  border-radius: 25px;
  border: 4px rgba(10,101,120,255) solid;
  background-color: rgb(42, 42, 42);
}

.name {
  font-family: 'Proggy Small';
  font-size: 32px;
  text-shadow: 2px 2px 3px lightgrey;
}

.bio-para {
  font-family: 'Proggy Small';
  font-size: 22px;
  margin: 30 0;
}

.bio-para .bio-text {
  font-family: 'Proggy Small';
  font-size: 18px;
}

/* News Page */

article {
  text-align: left;
}

/* Jobs Page */



/* Smart Phones */

@media only screen and (max-width: 640px) {
  
  p {
    font-size: 22px;
  }

  .content {
    margin: 20px 5%;
    min-height: 600px;
  }

  .introduction {
    margin: 0% 5% 0%;
  }

  .banner-links a {
    font-size: 38px;
  }

  .listgroups a {
    font-size: 42px;
  }

  .game-images {
    min-height: 320px;
  }

  .game-image {
    height: auto;
    width: 400px;
  }

  .carousel-ctrlbtn-left {
    margin-left: -50px;
  }
  
  .carousel-ctrlbtn-right {
    margin-right: -50px;
  }

}

/* Tablets */

@media only screen and (min-width: 641px) and (max-width: 1007px) {

  p {
    font-size: 26px;
  }

  .content {
    margin: 20px 10%;
    min-height: 800px;
  }

  .introduction {
    margin: 0% 10% 0%;
  }

  .banner-links a {
    font-size: 36px;
  }

  .listgroups a {
    font-size: 32px;
  }

  .game-images {
    min-height: 450px;
  }

  .game-image {
    height: auto;
    width: 400px;
  }

  .carousel-ctrlbtn-left {
    margin-left: -100px;
  }
  
  .carousel-ctrlbtn-right {
    margin-right: -100px;
  }

}