/* Fonts */

@font-face {
  font-family: 'Fixedsys Excelsior 300';
  src: url('../fonts/FSEX300.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('../fonts/FSEX300.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'Proggy Small';
  src: url('../fonts/ProggySmall.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('../fonts/ProggySmall.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

/* Common */

html {
  text-align: center;
  overflow-y: scroll;
  background-color: rgb(98.5, 98.5, 98.5);
  color:aliceblue;
  font-family: 'Proggy Small';
  font-weight: bold;
  font-size: 20px;
  line-height: 1.1rem;
  position: relative;
  
}

body {
  margin: 0px;
  padding: 25px;
  position: relative;
}

header {
  padding-top: 30px;
}

.content {
  margin: 20px 20%;
}

.introduction {
  margin: 0% 15% 0%;
}

footer {
  padding-bottom: 30px;
  background-color: rgb(42, 42, 42);
  border-top: 5px rgba(10,101,120,255) solid;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  text-shadow: 2px 2px 3px lightgrey;
}

/* Navigation */

.logo {
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

.banner-menu li{
  display: inline;
}

.nobull {
  list-style-type: none;
}

.banner-menu {
  margin: 0px;
}

.banner-links {
  margin: 0;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-links a {
  font-family: 'Proggy Small';
  font-size: 32px;
  color: black;
}

.banner-links-text {
  padding: 5px;
  background: linear-gradient(150deg, darkgrey 41%, white);
  border: 2px rgba(10,101,120,255) solid;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 2px rgb(54, 54, 54);
}

.banner-links img {
  box-shadow: 1px 1px 2px 2px rgb(54, 54, 54);
  border: 2px rgba(10,101,120,255) solid;
}

.banner-links img:hover {
  box-shadow: none;
}

.banner-links-text:hover {
  box-shadow: none;
  background-color: cornflowerblue;
}

.banner-links li {
  vertical-align: middle;
  margin: 0 10px 0;
}


/* Border */

.border-img {
  position: absolute;
  z-index: 2;
}

.corner {
  height: 75px;
  width: auto;
  z-index: 3;
}

.sides {
  width: 50px;
  height: 100%;
}

.top, .bottom {
  height: 50px;
  width: 100%;
}

.bottomleft {
  left: 0px;
  bottom: 0px;
}

.bottomright {
  bottom: 0px;
  right: 0px;
}

.topleft {
  top: 0px;
  left: 0px;
}

.topright {
  top: 0px;
  right: 0px;
}

.leftside {
  left: 0px;
  top: 0px;
}

.rightside {
  right: 0px;
  top: 0px;
}

.top {
  top: 0px;
  left: 0px;
}

.bottom {
  bottom: 0px;
  left: 0px;
}

/* Banner */

video {
  height: 100%;
  width: 100%;
}

.banner-container-border {
  width: 100%;
  background-color: rgb(42, 42, 42);
  border: 5px rgba(10,101,120,255) solid;
}

.banner-container {
  margin: 0px 20% 0;
  padding: 50px;
  position: relative;
}

.banner {
  border: 5px rgba(10,101,120,255) solid;
}



.banner {
  width: 100%;
  z-index: 1;
}

/* Footer Links */

.listgroups {
  position: relative;
  display: inline-block;
}

.listgroups a {
  font-family: 'Proggy Small';
  font-size: 24px;
  color: black;
  background: linear-gradient(150deg, darkgrey 41%, white);
  padding: 5px;
  margin: 5px;
  line-height: 1.8em;
  border-radius: 8px;
  border: 2px rgba(10,101,120,255) solid;
}

.listgroups a:hover {
  background: linear-gradient(150deg, rgb(71, 142, 169) 41%, rgb(143, 161, 169))
}

/* Index Page */



/* AI Office Escape Page */

.characters {
  margin-top: 30px;
}

.char {
  display: flex;
  margin: 35px auto;
}

.char-pic {
  height: 150px;
  width: auto;
  margin: 20% 0;
}

.char-bio {
  text-align: left;
  font-family: 'Proggy Small';
}

.char-bio h3 {
  text-shadow: none;
}

.char-bio p {
  font-size: 18px;
}

/* About Page */

.profile-pic {
  height: 200px;
  width: 200px;
  border-radius: 25px;
  border: 4px rgba(10,101,120,255) solid;
  background-color: rgb(42, 42, 42);
}

.name {
  font-family: 'Proggy Small';
  font-size: 32px;
  text-shadow: 2px 2px 3px lightgrey;
}

.bio-para {
  font-family: 'Proggy Small';
  font-size: 22px;
  margin: 30 0;
}

.bio-para .bio-text {
  font-family: 'Proggy Small';
  font-size: 18px;
}

/* News Page */

article {
  text-align: left;
}

/* Jobs Page */



/* Smart Phones */

@media only screen and (max-width: 640px) {
  
  .content {
    margin: 20px 5%;
  }

  .introduction {
    margin: 0% 5% 0%;
  }

  .banner-links a {
    font-size: 38px;
  }

  .listgroups a {
    font-size: 42px;
  }

}

/* Tablets */

@media only screen and (min-width: 641px) and (max-width: 1007px) {

  .content {
    margin: 20px 10%;
  }

  .introduction {
    margin: 0% 10% 0%;
  }

  .banner-links a {
    font-size: 36px;
  }

  .listgroups a {
    font-size: 32px;
  }

}